<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Welcome to T2DM Tracker</title>
</head>
<body>
<h1>Welcome to T2DM Tracker !</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/patient/list">Patient List</a>&nbsp;|&nbsp;
        </div>
        <div class="col-6 text-right">
            Logged in user: <b th:inline="text" class="user" th:text="${user}"> </b>
            <form th:action="@{/app-logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
    <div class="row"><h2>Patient List</h2></div>
    <div class="row">
        <div class="text-right"><a href="/patient/add" class="btn btn-primary btn-sm">Add Patient</a></div>
        <div><p></p><div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Birth Date</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${patients.empty}">
                <td colspan="3">No patients in database</td>
            </tr>
            <tr th:each="patient: ${patients}">
                <td><a th:href="@{/patient/details?id={id}(id=${patient.id})}"><span th:text="${patient.id}"></span></a>
                </td>
                <td><span th:text="${patient.lastName}">Last Name</span></td>
                <td><span th:text="${patient.firstName}">First Name</span></td>
                <td><span th:text="${patient.birthDate}">Birth Date</span></td>
                <td><span th:text="${patient.gender}">Gender</span></td>
                <td><span th:text="${patient.address}">Address</span></td>
                <td><span th:text="${patient.phone}">Phone Number</span></td>
                <td>
                    <a th:href="@{/patient/update?id={id}(id=${patient.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/patient/delete?id={id}(id=${patient.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>